# Python
*/__pycache__/*
*/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*__init__.py

# Secrets — ne jamais committer
.env
*.env

# Base de données
*.db
*.sqlite
*.sqlite3

# Environnements virtuels
venv/
.venv/
env/

Presentation/Nouveau_*

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db

*.md
*.env.*